.buttonVolverD {
   
    top: 28vw;
    right:22vw;
    
    background-repeat:no-repeat;
    background-color: transparent;
    height: 14vh;
    width: 14vw;
    background-size: cover;
    background-position:center;
    border: none;
    cursor:  pointer;
    font-style: trebuchet;
    font-weight: 800;
    font-size: 2rem;  
}

.imageDetail {
   
    bottom:10vh;
    left: 20vw;
    width: 500px;
    height: 400px;
}
.nameDetail {
   display: grid;
    
    bottom:63vh;
    left: 9vw;
    
   
    color: black;
    font-style: Trebuchet;
    font-weight: 900;
    font-size: 3.5em;
    line-height : 45px; 
}
.tempNameDetail {
    
    bottom:61.55vh;
    left: 20vw;
    background-color: rgb(248, 2, 64);
    height: 5vh;
    width: 13.5vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 1.3em;
}
.tempDetail {
   display: contents;
    bottom: 51vh;
    left: 7vw;
    color: red;
    height: 12vh;
    width: px;
   
    font-style: Trebuchet;
    
    line-height : 30px; 
}

.pesoNameDetail {
  
    bottom:52vh;
   
    background-color: rgb(20,105, 152);
    height: 5vh;
    width: 13.5vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 1.5em;
}

.pesoDetail {
   
    bottom: 50vh;
    right: 36vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5em;
}

.alturaNameDetail {
    
    bottom:61.55vh;
    left: 20vw;
    background-color: rgb(131,200, 151);
    height: 5vh;
    width: 13.5vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 1.5em;
}

.alturaDetail {
  
    bottom: 59.5vh;
    right: 22vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5em;
}
.liveNameDetail {
  
    bottom:71.2vh;
    left: 33.5vw;
    background-color: rgb(144,91, 166);
    height: 5vh;
    width: 13.5vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 760;
    font-size: 1.5em;
}

.liveDetail {
   
    bottom: 69vh;
    right: 9vw;
    color: black;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5em;   
}

.div{
    display: grid;
}

.temperamentos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}


.peso{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}