.button {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
width: 15%;
cursor: pointer;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.h1 {
  color: rgb(252, 122, 0);
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


  .button:hover {
    color: orange;
    /* color de fuente hover */
    background: black;
  }
 
