.nav{

    
}

.ul{
    margin-top: 32px;
}

.li{
    
   
    
    list-style: none;
    display: contents;
}

.li:hover:not(.active) {
    background-color: coral;
}


.span{
        margin: 5px;
    background-color: #E8985E;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
}


.span:hover:not(.active) {
    background-color: #A3333D;
}